.theme--dark {

  label,
  input {
    color: #fff;
  }
}

.v-text-field__details {
  padding: 0 12px;
  margin-top: 6px;
}

.MuiChip-root {
  height: 22px !important;
}

.settings {
  margin-top: 24px;
}

.MuiPaper-root.MuiMenu-paper {
  top: unset !important;
}
