.theme--dark {

  label,
  input {
    color: #fff;
  }

  .MuiButtonBase-root {
    color: #fff;
  }

  #reset-btn:hover {
    background-color: #3e4c57;
  }

  .menu-item:hover {
    background-color: #555 !important;
  }
}

#filter-list-btn:hover {
  text-decoration: unset;
  background-color: unset;
}

#table-func-menu-btn:hover {
  text-decoration: unset;
  background-color: unset;
}

.v-text-field__details {
  padding: 0 12px;
  margin-top: 4px;
}

.MuiChip-root {
  height: 22px !important;
}

.settings {
  margin-top: 24px;
}

// .MuiPaper-root.MuiMenu-paper {
//   top: unset !important;
// }

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.p-l-4 {
  padding-left: 4px;
}

#table-func-menu .MuiPaper-root.MuiMenu-paper {
  left: 1730px !important;
}
