.pre-c {
  font-family: Consolas, Liberation Mono, Menlo, monospace;
  font-weight: 500;
  font-size: 13px;
}

.nav-style {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  transform: translateY(0px);
  background-color: rgb(238, 238, 238);
  border-color: rgb(238, 238, 238);
}

.alerta-toolbars-details {

  &.theme--dark {
    background-color: rgb(97, 97, 97) !important;
    border-color: rgb(97, 97, 97) !important;
  }

  &.theme-light {
    background-color: rgb(238, 238, 238) !important;
    border-color: rgb(238, 238, 238) !important;
  }

  .MuiSvgIcon-root {
    font-size: 22px;
  }
}

.h-48 {
  height: 48px !important;
}

.v-tabs__container--grow {
  &.height-unset {
    height: unset !important;
  }
}

.v-table {
  &.theme--dark {
    border-bottom: 1px solid hsla(0, 0%, 100%, .12) !important;
  }

  &.theme-light {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
  }
}

.v-sheet-cus {
  .MuiTab-labelIcon {
    min-height: 50px !important;
  }
}

.primary {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}

.secondary {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.accent {
  background-color: #ffa726 !important;
  border-color: #ffa726 !important;
}

.error {
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}

.info {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.success {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.success {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.warning {
  background-color: #fb8c00 !important;
  border-color: #fb8c00 !important;
}

.theme--dark {
  .MuiSkeleton-wave::after {
    background: linear-gradient(90deg, transparent, #838383, transparent) !important;
  }
}
